[submodule "cmdr"]
	path = cmdr
	url = https://github.com/Unimart-For-Operations/cmdr.git
	branch = main
[submodule "unimart-employee-handbooks/cdc"]
	path = unimart-employee-handbooks/cdc
	url = https://github.com/Unimart-For-Operations/cdc.git
	branch = main
[submodule "idpbuilder"]
	path = idpbuilder
	url = https://github.com/Unimart-For-Operations/idpbuilder.git
	branch = main
